@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(33, 33, 65);
}
.option-hover {
    transition: background-color 0.5s ease, margin-left 0.5s ease;
}

.option-hover:hover {
    background-color: rgb(206, 182, 182);
    margin-left: 10px;
}